.categories-navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    padding-left: 0;
    margin: 0;
    height: 40px;
    
    li {
        color: $clr5;
        padding: 10px 0;
        margin: 0;
        border-bottom: 3px solid transparent;
        cursor: pointer;

        &:hover{
            border-bottom: 3px solid #1dbf73;
        }
    }
}