.sidebar-content-container {
    width: 33%;
    position: sticky;
    top: 80px;
    height: fit-content;

    .packageTypes-btn {
        border-top: 1px solid $clr17;
        border-inline: 1px solid $clr17;

        & :last-child {
            border: none;
            border-bottom: 3px solid  $clr1;
        }

        button {
            border: none;
            border-right: 1px solid $clr17;
            background-color: $clr1;
            border-bottom: 3px solid  $clr1;
            color: $clr4;
            flex-grow: 1;
            padding-block: 20px;
            font-size: 16px;
        }

        .active {
            background-color: $clr0;
            color: $clr9;
            border-bottom: 3px solid $clr9;
        }


    }

    article {
        padding: 32px 22px 20px;
        border: 1px solid $clr17;

        h3 {
            font-size: 16px;
            padding-block-end: 10px;
        }

        .price-container {
            font-size: 20px;
        }

        .gig-title {
            text-align: left;
            padding-block-end: 11px;
            line-height: 1.4;
            color: $clr5
        }

        .additional-info {
            font-size: 14px;
            margin-block-end: 11px;
            font-family: Macan-Bold;

            p {
                margin-inline-end: 15px;

                span {
                    padding-inline-start: 6px;
                    color: $clr5
                }
            }
        }

        .features-list {
            margin-block-end: 20px;

            p {

                font-size: 14px;
                text-align: left;
                padding-block-end: 5px;
            }

            span {
                padding-inline-start: 18px;
                color: $clr13;
            }


        }

        button {
            border: solid $clr9 1px;
            cursor: pointer;
            background: $clr9;
            font-weight: 600;
            padding: 12px 24px;
            width: 100%;
            text-align: center;
            border-radius: 4px;
            color: $clr0;

            font-family: Macan-Bold;
            font-size: 16px;

            &:hover {
                background: $clr10;
                border: solid $clr10 1px;

            }
        }
    }

    .contact-seller {
        margin-block: 15px;
        background-color: #fafafa;
        padding: 25px;

        button {
            cursor: pointer;
            font-weight: 600;
            text-align: center;
            border-radius: 4px;
            border: none;
            background-color: transparent;
            color: $clr5;
            border: solid $clr5 1px;
            padding: 12px 24px;
            width: 100%;

            font-family: Macan-Bold;
            font-size: 16px;

            &:hover {
                color: $clr0;
                border: solid transparent 1px;
                background: $clr5;

            }
        }
    }
}