.sidebar-content-container {
    width: 33%;
    position: sticky;
    top: 80px;
    height: fit-content;

    article {
        padding: 32px 24px;
        border: 1px solid #dadbdd;

        h3 {
            min-height: 56px;
            font-size: 16px;
            margin-block-end: 11px;
        }

        .gig-title {
            text-align: left;
            min-height: 70px;
        }

        .additional-info {
            font-size: 14px;
            margin-block-end: 10px;

            p {
                margin-inline-end: 10px;
            }
        }

        .features-list {
            margin-block-end: 20px;

            p {
                font-size: 14px;
                text-align: left;
                margin-block-end: 5px;
            }
        }

        button {
            border: solid $clr9 1px;
            cursor: pointer;
            background: $clr9;
            font-weight: 600;
            padding: 12px 24px;
            width: 100%;
            text-align: center;
            border-radius: 4px;

            &:hover {
                background: $clr10;
                border: solid $clr10 1px;

            }

            a {
                text-decoration: none;
                color: $clr0;
            }
        }
    }

    .contact-seller {
        margin-block: 15px;
        background-color: #fafafa;
        padding: 25px;

        button {
            cursor: pointer;
            font-weight: 600;
            text-align: center;
            border-radius: 4px;
            border: none;
            background-color: transparent;
            color: $clr5;
            border: solid $clr5 1px;
            padding: 12px 24px;
            width: 100%;


            &:hover {
                color: $clr0;
                border: solid transparent 1px;
                background: $clr5;

            }
        }
    }
}