.dynamic-table {
    text-align: left;
    margin-bottom: 100px;

    table.table-desktop {
        display: none;

        @media (min-width: 700px) {

            display: table;
            width: 100%;
            background-color: $clr0;
            border: 1px solid $clr17;
            position: relative;
            border-collapse: collapse;

            tr {
                border-bottom: 1px solid $clr17;
            }

            th {
                padding: 15px;
            }

            td {
                padding: 20px 15px;
                min-width: 135px;
                max-width: 435px;

                &.client {
                    display: flex;
                    align-items: center;

                    img {
                        height: 35px;
                        border-radius: 100%;
                        margin: 0 15px 0 0;
                    }

                    p {
                        font-weight: 500;
                    }
                }

                &.gig-title p {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 300px;
                    overflow: hidden;
                }

                button.status-item,
                p.status-item {
                    height: 38px;
                    margin-block: 5px;
                    border-radius: 4px;
                    border: none;
                    font-size: 16px;
                    padding: 7px;
                    width: 101px;
                    color: $clr0;
                    text-align: center;

                    &.pending {
                        background-color: $clr3;
                    }

                    &.in-process {
                        background-color: $clr14;
                    }

                    &.completed {
                        background-color: $clr9;
                    }

                    &.rejected {
                        background-color: rgb(220, 78, 78);
                    }
                }

                button.status-item:hover {
                    opacity: 0.7;
                }
            }
        }
    }

    section.table-mobile {
        .item {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas:
                "client   package   price   status"
                "title    title     title   title";
            border-bottom: 1px solid $clr17;
            background-color: $clr0;
            padding: 15px 20px 15px 15px;

            .top {
                display: flex;
                align-items: center;
                justify-content: space-between;
                flex-direction: row;
                width: 80%;

                .client {
                    grid-area: client;
                    display: flex;
                    align-items: center;

                    img {
                        height: 35px;
                        border-radius: 100%;
                        margin: 0 15px 0 0;
                    }

                    p {
                        font-weight: 600;
                    }
                }

                .package {
                    grid-area: package;
                    color: $clr13;
                }

                .price {
                    grid-area: price;
                    color: $clr13;
                }
            }

            .title {
                grid-area: title;
                padding: 5px 0 0 50px;

                P {
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 100%;
                    overflow: hidden;
                }
            }
                
                .status-item {
                    grid-area: status;
                    height: 30px;
                    margin-block: 5px;
                    border-radius: 4px;
                    border: none;
                    font-size: 16px;
                    padding-inline: 7px;
                    width: 101px;
                    color: $clr0;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    &.pending {
                        background-color: $clr3;
                    }

                    &.in-process {
                        background-color: $clr14;
                    }

                    &.completed {
                        background-color: $clr9;
                    }

                    &.rejected {
                        background-color: rgb(220, 78, 78);
                    }
                }

                button.status-item:hover {
                    opacity: 0.7;
                }
        }


        @media (min-width: 700px) {
            display: none;
        }
    }
}