.dynamic-table {
    text-align: left;

    table {
        width: 100%;
        background-color: $clr0;
        border: 1px solid $clr17;
        position: relative;
        border-collapse: collapse;

        tr {
            border-bottom: 1px solid $clr17;
        }

        th {
            padding: 15px;
        }

        td {
            padding: 20px 15px;
            min-width: 135px;

            &.gig-title p {
                white-space: nowrap;
                text-overflow: ellipsis;
                width: 400px;
                overflow: hidden;
            }

            button.status-item {
                margin-block: 5px;
                border-radius: 4px;
                border: none;
                font-size: 16px;
                padding: 7px;
                min-width: 101px;
                color: $clr0;

                &.pending {
                    background-color: $clr3;
                }

                &.in-process {
                    background-color: $clr14;
                }

                &.completed {
                    background-color: $clr9;
                }

                &.rejected {
                    background-color: rgb(220, 78, 78);
                }

                &:hover {
                    opacity: 0.7;
                }
            }
        }
    }


    .client {
        display: flex;
        align-items: center;

        img {
            height: 35px;
            border-radius: 100%;
            margin: 0 15px 0 0;
        }

        p {
            font-weight: 500;
        }
    }

    // .status-item {
    //     position: relative;
    // }

}