.dynamic-table {
    text-align: left;

    th,
    td {
        padding-right: 25px;
        max-width: 250px;
    }

    .client {
        img {
            height: 26px;
            border-radius: 100%;
        }
    }

    .status-item {
        position: relative;
    }

    .status-modal {
        // display: flex;
        // flex-direction: column;
        // position: absolute;
        // z-index: 1;
        // background-color: $clr0;
        // top: 0;
        // border: 1px solid #dadbdd;
        // border-radius: 4px;
        // min-width: 100px;
        // min-height: 128px;
        // padding: 12px 24px;
    }
}