.explore-filter {
    background-color: $clr0;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    height: 70px;

    &.sticky {
        box-shadow: 0 0.266px 1.13052px rgb(0 0 0 / 7%), 0 0.89345px 3.79717px rgb(0 0 0 / 10%), 0 5px 17px rgb(0 0 0 / 17%);
    }

    .filters-container {
        position: relative;
        top: 0;

        .filters {
            text-align: left;

            button.filter-btn {
                font-size: 1rem;
                font-weight: 600;
                background-color: $clr0;
                color: $clr7;
                border-radius: 4px;
                border: 1px solid $clr17;
                min-width: 50px;
                height: 38px;
                padding: 6px 12px;
                margin-right: 10px;

                div {
                    display: flex;
                    align-items: center;
                }

                p {
                    margin-right: 10px;
                }
            }
        }
    }

    // .right-filters {
    //     width: 250px;
    //     text-align: right;

    //     p {
    //         display: inline-block;
    //         font-weight: 600;
    //         color: $clr5;
    //     }
    // }

}

.explore-count-sort {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 39px;
    position: relative;

    .count {
        color: $clr4;
        font-size: 14px;
        line-height: 22px;
        font-weight: 600;
    }

    .sort-by {
        p {
            display: inline-block;
            color: $clr5;


            button {
                font-size: 16px;
                line-height: 120%;
                font-weight: 700;
                background-color: $clr0;
                border: none;

                p {
                    color: $clr7;
                }
            }
        }

        select {
            font-size: 16px;
            line-height: 120%;
            font-weight: 700;
            border: none;
        }

        .sort-modal {
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 1;
            background-color: $clr0;
            box-shadow: 0 12px 18px rgb(0 0 0 / 14%);
            border: 1px solid #dadbdd;
            border-radius: 4px;
            min-width: 205px;
            min-height: 128px;
            padding: 12px 24px;

            button {
                color: $clr6;
                font-size: 14px;
                line-height: 22px;
                background-color: $clr0;
                border: none;
                margin: 5px;
                font-weight: 600;

                &:hover{
                    color: $clr9;
                }
            }
        }
    }
}