.screen-modal {
    z-index: 1;
    opacity: 0;
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    cursor: pointer;
}

.filter-modal {
    position: absolute;
    top: 100%;
    z-index: 3;
    background-color: $clr0;
    box-shadow: 0 12px 18px rgb(0 0 0 / 14%);
    border: 1px solid #dadbdd;
    border-radius: 4px;
    min-height: 150px;
    min-width: 250px;
    color: $clr6;
    font-size: 14px;
    line-height: 22px;
    margin-top: 8px;


    form {
        padding: 12px 24px;

        &.services-options {
            min-width: 270px;

            .service {
                padding: 6px 0;
                margin: 4px 0;
                cursor: pointer;

                label {
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 600;
                    margin-left: 5px;
                }
            }

        }

        &.budget {
            display: flex;
            height: 104px;
            width: 320px;
            display: flex;
            justify-content: space-between;

            .min {
                margin-right: 6px;
            }

            .max {
                margin-left: 6px;
            }

            .min p,
            .max p {
                font-size: 12px;
                line-height: 24px;
                font-weight: 600;
                color: $clr13;
                margin-bottom: 4px;
            }

            .min .minmax-input,
            .max .minmax-input {
                min-height: 36px;
                width: 120px;
                border: 1px solid $clr17;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 8px 12px;
                border-radius: 4px;

                input {
                    border: none;
                    width: 90px;

                    &::placeholder {
                        font-weight: 600;
                    }
                }

                span {
                    color: $clr3;
                    font-weight: 600;
                }
            }
        }

        &.delivery {

            div {
                padding: 6px 0;
                margin: 4px 0;
                cursor: pointer;
                display: flex;
                align-items: center;

                label {
                    cursor: pointer;
                    font-size: 14px;
                    line-height: 22px;
                    font-weight: 600;
                    color: $clr6;
                    margin-left: 5px;
                    padding-top: 5px;
                }
            }
        }
    }

    .filters-footer {
        height: 63px;
        padding: 12px 24px;
        border-top: 1px solid $clr11;
        display: flex;
        justify-content: space-between;
        align-items: center;

        button.clear {
            background-color: transparent;
            border: none;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
            color: $clr13;

            &:hover {
                columns: $clr9;
            }
        }

        button.apply {
            height: 30px;
            padding: 4px 12px;
            color: #fff;
            background-color: $clr9;
            border: none;
            border-radius: 4px;
            cursor: pointer;
            font-weight: 600;
            font-size: 14px;
        }

    }

}