.popular-btns {
    z-index: 0;
    top: 437px;
    left: 249px;
    font-weight: 600;
    font-family: Macan-Regular;
    display: flex;
    position: absolute;
    width: 650px;
    height: 27px;
    a {
        padding: 1px 12px 0px;
    }

    button,
    p {
        width: fit-content;
        color: $clr0;
        font-size: 14px;
        font-weight: 600;

    }

    button {
        background: none;
        border: 1px solid $clr0;
        padding: 1px 12px 0px;
        border-radius: 40px;
        cursor: pointer;
        transition: all .2s ease-in-out;
    }

    button:hover {
        background-color: $clr0;
        color: $clr8;
    }
}