.gig-preview {
    text-align: left;
    padding: 0;
    border: solid 1px $clr11;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-decoration: none;
    cursor: pointer;
    width: 100%;

    &:hover h3 {
        color: $clr9;
    }

    .gig-img {
        width: 100%;
        aspect-ratio: 1/0.6;
    }

    .user {
        display: flex;
        align-items: center;
        padding: 12px 12px 8px;
        font-size: 14px;

        .user-img {
            width: 24px;
            border-radius: 100%;
        }

        .user-info {
            margin-left: 8px;
        }

        .user-info .username {
            color: $clr7;
            line-height: 18px;
            font-weight: 600;
        }

        .user-info .level {
            color: $clr4;
            font-weight: 500;
            line-height: 21px;
            line-height: 1rem;
        }
    }

    h3 {
        color: $clr7;
        line-height: 22px;
        height: 49px;
        overflow: hidden;
        padding: 0 12px 5px;
        margin-top: 5px;

        // &:hover h3 {
        //     color: $clr9;
        // }
    }

    .rate {
        padding: 10px 12px;
        color: #ffbe5b;
        font-size: 14px;
        font-weight: 700;
        display: flex;

        .rates-count {
            color: $clr3;
            font-weight: 400;
            margin-left: 2px;
        }
    }

    .card-footer {
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid #efeff0;
        min-height: 24px;
        padding: 10px 12px;

        .whishlist {
            color: $clr3;
        }

        .whishlist.saved {
            color: $clr19
        }

        .price {
            text-align: right;
            display: flex;
            align-items: center;
        }

        .price p {
            margin: 0;
            padding: 2px 0;
            color: $clr4;
            font-size: 10px;
            font-weight: 700;
            display: inline-block;
        }
        
        .price span {
            color: $clr6;
            font-size: 18px;
            line-height: 20px;
            margin: 1px;
            padding-left: 6px;            display: inline-block;
        }
    }
}