.home-hero {

    position: absolute;
    top: 0;

    .home-hero-content {
        height: 680px;

        h1 {
            left: 250px;
            top: 156px;
            color: $clr0;
            position: absolute;
            text-align: left;
            font-size: 48px;
            z-index: 0;
            line-height: 56px;
            margin-bottom: 0;
            align-self: flex-end;

            span {
                font-family: DomaineDispNar-Regular;
                letter-spacing: 2px;
                font-weight: 300;
            }
        }

        .filter-form {
            position: absolute;
            left: 249px;
            top: 335px;
            display: flex;
            align-items: center;
            z-index: 0;
            height: 48px;
            margin-top: 24px;
            font-family: Macan-Regular;

            .search-icon-container {
                position: relative;
                width: 48px;
                height: 48px;
                border-radius: 4px 0 0 4px;
                border: none;
                background-color: $clr0;

                svg {
                    position: absolute;
                    font-size: 20px;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    color: $clr4;
                }

            }

            .search-bar {
                // border-radius: 4px 0 0 4px;
                border: 1px solid #c5c6c9;
                border-left: none;
                // padding: 10px 2px 10px 16px;
                width: 500px;
                height: 100%;
                font-size: 1rem;
                letter-spacing: normal;
            }

            .search-bar-btn {
                background-color: $clr9;
                color: $clr0;
                font-weight: 700;
                border-radius: 0 4px 4px 0;
                padding: 12px 24px;
                border: none;
                height: 100%;
                font-size: 1rem;
            }
        }

        .slider-container {
            position: relative;
            z-index: 0;
            top: 0;
            height: 680px;
            width: 1903px;

            .hero {
                height: 100%;
                background-position-x: right;
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                transition: 1s;

                p {
                    color: white;
                    position: absolute;
                    top: 91%;
                    right: 13.3%;
                    max-width: fit-content;
                }
            }

        }

        .hero-moon {
            opacity: 0;
            background-image: url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/2413b8415dda9dbd7756d02cb87cd4b1-1599595203045/bg-hero-2-1792-x1.png');
        }

        .hero-andrea {
            opacity: 0;
            background-image: url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/bb5958e41c91bb37f4afe2a318b71599-1599344049983/bg-hero-1-1792-x1.png');
        }

        .hero-rikita {
            opacity: 0;
            background-image: url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/d14871e2d118f46db2c18ad882619ea8-1599835783966/bg-hero-3-1792-x1.png');
        }

        .hero-zach {
            opacity: 0;
            background-image: url('https://fiverr-res.cloudinary.com/image/upload/q_auto,f_auto/v1/attachments/generic_asset/asset/93085acc959671e9e9e77f3ca8147f82-1599427734108/bg-hero-4-1792-x1.png');
        }

        .hero-valentina {
            opacity: 0;
            // background-image: url('../../img/home/carousel/slide4.jpg');
            object-fit: contain;
            background-image: url('https://fiverr-res.cloudinary.com/image/upload/f_auto,q_auto/v1/attachments/generic_asset/asset/062d9604f20f64f4b45f8501aeea8212-1674662964518/bg-hero-6-900-x1.png');
            background-repeat: no-repeat;
            // background-size: auto 100%;
            background-position: center center;
            background-color: #1a1b1d;
            background-position-x: center;
        }


        .opacity {
            opacity: 1;
        }
    }
}