.logIn-signUp-screen {
    position: absolute;
    top: 0;
    height: 100vh;
    width: 100%;
    background-color: $clr15;
    place-items: center;
    justify-content: center;


    .logIn-signUp-container {
        min-width: 400px;
        background-color: $clr0;
        padding: 24px 36px;

        .logIn-signUp {
            h4 {
                font-size: 24px;
                color: $clr6;
                padding-block: 32px;
                margin: 0;

            }
        }

        .login-form {
            input {
                line-height: 24px;
                font-size: 16px;
                font-family: Macan-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
                padding: 8px 12px;
                margin-bottom: 16px;
                color: $clr13;
            }

            button {
                border: solid $clr9 1px;
                cursor: pointer;
                background: $clr9;
                font-weight: 600;
                padding: 12px 24px;
                width: 100%;
                text-align: center;
                border-radius: 4px;
                color: $clr0;

                font-family: Macan-Bold;
                font-size: 16px;

                &:hover {
                    background: $clr10;
                    border: solid $clr10 1px;
                }
            }
        }
    }

    footer {
        font-size: 14px;
        color:$clr5;
        min-width: 400px;
        background-color: $clr0;
        padding-block: 13px;
        line-height: 21px;

        button{
            cursor: pointer;
            font-family: Macan-Regular;
            font-size: 14px;
            color: $clr9;
            border: none;
            background-color: inherit;
            margin: none;
            padding: none;
            padding-left: 4px;

            &:hover {
                text-decoration: underline
            }
        }
    }


}