.mobile-footer {
    display: none;

    @media (max-width: 700px) {
        display: flex;
        background-color: $clr0;
        position: fixed;
        bottom: 0;
        width: 100%;
        height: 70px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-top: 1px solid $clr17;
        padding-inline: 50px;

        div.icon {
            cursor: pointer;

            svg {
                color: $clr8;

            }

            path {
                stroke: $clr8;

            }

            &:hover svg,
            &.active svg {
                color: $clr9;
            }

            &:hover path,
            &.active path {
                stroke: $clr9;
            }
        }
    }
}