.owner-profile {
    h2 {
        padding-bottom: 35px;
        font-size: 20px;
        margin: 0;
    }

    .profile-info {
        padding-bottom: 24px;

        img {
            width: 110px;
            border-radius: 100%;
        }

        div {
            padding-inline-start: 15px;

            div {
                padding-inline-start: 0;
                align-items: baseline;
            }
        }

        p {
            padding-block-end: 10px;
        }

        button {
            cursor: pointer;
            margin-block-start: auto;
            font-weight: 600;
            text-align: center;
            border-radius: 4px;
            border: none;
            background-color: transparent;
            color: $clr5;
            border: solid $clr5 1px;
            padding: 12px 24px;
            width: auto;


            &:hover {
                color: $clr0;
                border: solid transparent 1px;
                background: $clr5;

            }
        }
    }

    .profile-Description {
        max-width: 100%;
        border: 1px solid $clr11;
        padding: 24px;

        .owner-stas {
            grid-template-columns: 1fr 1fr;
            row-gap: 16px;
            align-items: center;

            p {
                color: $clr4;
                padding-bottom: 16px;

                strong {
                    color: $clr5;

                }
            }

        }

        .owner-desc {
            padding-top: 16px;
            border-top: 1px solid $clr11;
            color: $clr5;
        }

    }


}