.categories-list-wrap {
    padding-bottom: 95px;
    position: relative;

    button.slick-arrow {
        background-color: $clr3;
        opacity: 0;
        border-radius: 100%;
        width: 40px;
        height: 40px;
        z-index: 1;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);

        &::before {
            opacity: 1;
            border-radius: 100%;
            font-size: 48px;
            position: absolute;
            top: -1px;
            left: -3px;
        }
    }

    .slick-list {
        .slick-track > *{
            // width: 251px;

            img {
                // width: 100%;
                // height: 100%;
                height: 375px;
                width: 252px;
                // object-fit: cover;

            }
        }
        .slick-track > .slick-active ~ .slick-active{
            padding-left: 42px;
            // width: 288px;
            height: 100%;

            img {
                // width: 100%;
                // height: 100%;
                height: 375px;
                width: 252px;
                // object-fit: cover;

            }
        }

        .img-container {
            
            p {
                color: $clr0;
                position: absolute;
                padding: 16px;
                line-height: 25px;
                top: 0;
                font-size: 14px;
                font-family: Macan-Regular;
                font-weight: 400;
                text-align: left;

                span {
                    // font-family: Macan-Bold;
                    font-weight: 700;
                    font-size: 24px;
                }
            }

            // img {
            //     width: 100%;
            //     // height: 100%;
            //     height: 375px;
            //     width: 252px;
            //     object-fit: cover;

            // }
        }

    }

    .slider-btns {
        background-color: $clr0;
        position:absolute;
        top: 32%;
        border: none;
        border-radius: 100%;
        width: 48px;
        height: 48px;
        z-index: 1;
        box-shadow: 0 2px 5px 0 rgb(0 0 0 / 15%);

        &::after{
        content: "";
    display: inline-block;
    background: url(https://fiverr-res.cloudinary.com/npm-assets/@fiverr/logged_out_homepage_perseus/apps/arrows.a8b0bad.svg) no-repeat;
    width: 16px;
    height: 16px;
    margin-top: 3px;
    background-size: 16px 64px;
        }
        
        &.next-btn {
            right:-27px;

            &::after{
                background-position: 0 -48px;
            }
        }
        &.prev-btn {
            left:-27px;
            &::after{
                background-position: 0 -32px;
            }

        }
    }
}