.reviews {
    .stars {
        padding-left: 5px;
        color: $clr14;
        .stars{
            padding-top: 2px;
        }
    }

    .review-preview {
        padding: 40px 0;
        border-bottom: 1px solid $clr11;
        gap: 15px;

        .review-container {
            gap: 16px;

            .stars {
                padding-left: 0;
            }
        }

        img {
            height: 48px;
            border-radius: 2rem;

        }

        .review-rate {
            gap: 10px;
            
            .separator{
                color: $clr20;
                margin-right: 8px;
            }
        }

    }
}