.user-msg {
    position: fixed;
    top: 10px;
    right: 50%;
    z-index: 5;
    height: 42px;
    min-width: 400px;
    padding: 9px 16px;
    background-color: $clr0;
    color: $clr6;
    font-weight: 600;
    font-size: 16px;
    text-align: left;
    line-height: 24px;
    border-radius: 4px;
    border-left: 4px solid $clr9;
    box-shadow: 0 0.266px 1.13052px rgb(0 0 0 / 7%), 0 0.89345px 3.79717px rgb(0 0 0 / 10%), 0 5px 17px rgb(0 0 0 / 17%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease 0.02s;
    transform: translateX(50%);

    @media (min-width: 700px) {
        min-width: 460px;

    }
}

.user-msg button {
    font-size: 16px;
    float: right;
    border: 0;
    border-radius: 15%;
    margin: 0;
    padding: 3px 6px;
    background-color: transparent;

    &:hover {
        background-color: $clr2;
    }
}

.user-msg.error {
    border-left: 4px solid #f75d5d;
}