.gig-index {

    h1 {
        padding: 30px 0 15px;
        line-height: 125%;
        font-weight: 700;
        font-size: 32px;
        color: #222325;
        margin: 0;
        text-align: left;
    }
}