.gig-details {
    justify-content: center;

    .details-layout {
        width: 1300px;
        padding: 32px;

        .main {
            width: 710px;
            margin-inline-end: auto;
        }
    }

}