.gig-details {


    .details-nav {
        border-bottom: 1px solid $clr11;
        position: sticky;
        top: 0;
        background-color: $clr0;

        ul {
            padding: 0;
            margin: 0;
        }

        li {
            font-weight: 600;
            font-size: 14px;
            color: $clr13;
            list-style: none;
            margin-right: 24px;
            cursor: pointer;
            line-height: 53px;

            &:hover {
                color: $clr4;
            }

            &.active {
                color: $clr7;
                border-bottom: 3px solid #1dbf73;
            }
        }

        .wish-list {
            .add-wishlist {
                border: 1px solid $clr11;
                background-color: $clr0;
                padding: 6px 10px;
                height: fit-content;
                border-radius: 4px;
                color: $clr11;

                &.saved {
                    color: $clr19
                }
            }

            .count-wishlist {
                border: 1px solid $clr11;
                margin-left: 13px;
                padding: 7px 10px;
                position: relative;
                border-radius: 4px;

                &::before {
                    border-color: transparent $clr17 transparent transparent;
                    border-width: 8px 9px 8px 0;
                    left: -9px;
                    top: 6px;
                    z-index: 2;
                    border-style: solid;
                    content: "";
                    position: absolute;
                }

                &::after {
                    border-color: transparent $clr0 transparent transparent;
                    border-width: 6px 8px 6px 0;
                    left: -8px;
                    top: 8px;
                    z-index: 3;
                    border-style: solid;
                    content: "";
                    position: absolute;
                }
            }

        }
    }

    .gig-details-container {
        justify-content: center;
        text-align: start;

        h1,
        h2,
        h3 {
            color: $clr6
        }


        .details-layout {
            width: 1300px;
            padding: 32px;

            .main {
                width: 710px;
                margin-inline-end: auto;

            }

            .breadcrumds {

                .open-btn {
                    cursor: pointer;
                    font-family: Macan-Regular;
                    font-size: 14px;
                    color: $clr12;
                    border: none;
                    background-color: inherit;
                    margin: none;
                    padding: none;

                    &:hover {
                        text-decoration: underline
                    }
                }
            }
        }

        h1 {
            text-align: start;
            font-size: 32px;
            padding-bottom: 16px;
            line-height: 130%;
        }

        .mini-owner {
            align-items: center;

            img {
                height: 30px;
                margin-right: 10px;
            }

            .owner-level {
                border-right: 1px solid black;
                padding-right: 10px;
            }

            .owner-name,
            .owner-level {
                margin-right: 10px;
            }
        }

        .img-container {
            .main-img {
                width: 100%;
                margin-block: 16px;
            }
        }

        .reviews-snippet {
            header {
                align-items: start;
                margin-block: 20px;

                h2 {
                    padding-bottom: 35px;
                    font-size: 20px;
                    margin: 0;
                }

                .open-btn {
                    cursor: pointer;
                    font-family: Macan-Regular;
                    font-size: 14px;
                    color: $clr9;
                    border: none;
                    background-color: inherit;
                    margin: none;
                    padding: none;

                    &:hover {
                        text-decoration: underline
                    }
                }

            }

        }

        .about {
            margin-bottom: 60px;

            h2 {
                font-size: 20px;
                padding-bottom: 25px;
            }

            p {
                padding: 10px;
                line-height: 1.5rem;
            }

        }


    }

}