.home-page {
    overflow-x: hidden;

    .trusted-by {
        margin-top: 559px;
        font-family: Macan-Semibold;
        font-weight: 600;
        color: $clr3;

        .trusted-by-wrap {
            background-color: $clr1;
        }

        .trusted-by-logos {
            display: flex;
            align-items: center;
            height: 95px;
            list-style: none;
        }

        li.trusted-by-text {
            padding: 0px 20px 0px 0px;
        }

        ul {
            margin: 0 24px;
            padding-inline-start: 0px;

        }

        li {
            padding: 0px 60px 0px 0px;
        }

    }

    .popular-services-container {
        h2 {
            text-align: left;
            margin-top: 96px;
            font-size: 32px;
            font-family: Macan-Bold;
            color: $clr6
        }

    }

    .selling-proposition-container {
        background-color: #f1fdf7;

        .selling-proposition {
            padding: 96px 0;

        }


        .selling-text {
            text-align: left;
            font-family: Macan-Regular;
            line-height: 130%;
            color: $clr6;

            h2 {
                line-height: 120%;
                font-size: 32px;
                padding: 0 0 24px 0;
                margin: 0;

            }

            span {
                padding: 0 8px 0 0;
                width: fit-content;
                height: fit-content;

                svg {
                    fill: #7a7d85;
                }
            }

            h6 {
                font-family: Macan-Bold;
                font-size: 18px;
                margin: auto;
                padding-left: 8px;
            }

            p {
                font-family: Macan-Regular;
                font-size: 18px;
                color: $clr5;
            }

        }
    }

    .explore-marketplace-container {
        h2 {
            color: $clr6;
            text-align: left;
            margin: 112px 0 40px;
            padding: 0 0 24px;
            font-size: 32px;
            font-family: Macan-Bold;
        }

        .categories-list {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(164px, 280px));


            a {
                position: relative;
                color: $clr7;
                height: 150px;
                display: inline-flex;
                flex-direction: column;
                padding: 0 10px 55px;
                text-decoration: none;

                &:hover .seperate-line{
                    border-bottom: 2px solid $clr9;
                    width: 88px;
                    transition: 0.3s;
                }
            }

            img {
                width: 48px;
                height: 48px;
                margin: 0 32px 15px;
                align-self: center;



            }
            .seperate-line{
                content: "";
                position: absolute;
                top: 45px;
                right: 50%;
                -webkit-transform: translateX(50%);
                transform: translateX(50%);
                padding: 0 0 8px;
                width: 48px;
                border-bottom: 2px solid $clr20;
                transition: 0.3s;
            }
        }
    }

}