.seller-dashboard {
    background-color: $clr2;
    padding: 20px 0;

    h1 {
        margin: 0;
    }

    .profile-switch {
        text-align: right;
        cursor: pointer;
    }

    button {
        color: $clr6;
        font-size: 14px;
        line-height: 22px;
        background-color: $clr0;
        border: none;
        margin: 5px;
        font-weight: 600;

        &:hover {
            color: $clr9;
        }
    }

    .seller-dashboard-wrapper {
        padding: 20px 0;

        .mini-profile {
            width: 370px;
            height: fit-content;
            border: 1px solid $clr11;
            background-color: $clr0;
            padding: 1px 20px 5px;

            .profile-username {
                padding-top: 20px;

                img {
                    border-radius: 100%;
                    width: 60px;
                    height: 60px;
                }

                h4 {
                    margin: auto;
                }
            }
            .row-buyer {
                   width: 230px; 
            }
            .performance-stats {
                margin: 26px 0px 0px;
                padding: 18px 0px 4px;
                border-bottom: 1px solid $clr11;
                border-top: 1px solid $clr11;

                .stat {
                    font-family: Macan-Regular;
                    padding-bottom: 12px;

                    .MuiBox-root {
                        width: 105px;
                    }
                }
            }

        }




    }

    .orders-table {
        width: 70vw;
        max-width: 936px;
        height: fit-content;
        border: 1px solid $clr11;
        background-color: $clr0;

        th {
            padding: 15px;
            color: $clr4;
        }

        td {
            margin: auto;
            padding: 20px;
            text-align: left;

            img {
                border-radius: 100%;
                width: 60px;
                height: 60px;
            }


        }

        select {
            font-size: 16px;
            line-height: 120%;
            font-weight: 700;
            border: none;
        }

        .status-modal-cell {
            position: relative;
            width: 133px;
        }
        .status-modal {
            display: flex;
            flex-direction: column;
            position: absolute;
            z-index: 1;
            background-color: $clr0;
            box-shadow: 0 12px 18px rgb(0 0 0 / 14%);
            border: 1px solid #dadbdd;
            border-radius: 4px;
            min-width: 100px;
            min-height: 128px;
            padding: 12px 24px;

        }
    }
}