.profile-page-container {
    background-color: $clr2;
    min-height: 100vh;
}

.profile-page {
    display: flex;

    .main-profile {
        width: 100%;
        
        @media (min-width: 700px) {
            padding-left: 40px;
        }

        .profile-header {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-block: 20px;
            height: 50px;
            padding-inline: 20px;
            
            @media (min-width: 700px) {
                padding-inline: 0;
            }

            .nav-container ul {
                list-style: none;
                display: flex;
                padding: 0;

                a {
                    color: inherit;
                    text-decoration: none;

                    margin-right: 20px;
                    color: $clr5;
                    cursor: pointer;
                    border-bottom: 3px solid transparent;
                    padding-block: 10px;

                    &:hover,
                    &.active {
                        border-bottom: 3px solid $clr9;

                    }
                }
            }

            button {
                height: 40px;
                border-radius: 4px;
                border: none;
                font-weight: 600;
                font-size: 16px;
                color: $clr9;
                background-color: transparent;

                &:hover {
                    color: $clr10;
                }
            }
        }
    }
}