* {
    box-sizing: border-box;
}

body {
    font-size: 16px;
    margin: 0;
    text-align: center;
    font-family: Macan-Regular, Helvetica Neue, Helvetica, Arial, sans-serif;
}

h3 {
    font-size: 1rem;
    margin: 0;
    font-weight: 400;
}

p {
    line-height: 1.5;
    margin: 0;
}

button {
    cursor: pointer;
    font-family: Macan-Regular;
}

input::placeholder {
    font-family: Macan-Regular;

}

input:focus-visible,
select:focus-visible {
    outline: none;
}