.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.justify-center {
        justify-content: center;
    }

    &.align-center {
        align-items: center;
    }

    &.space-between {
        justify-content: space-between;
    }

    &.space-around {
        justify-content: space-around;
    }
    &.none-list-style {
        list-style: none;
    }
}

.grid {
    display: grid;
}

.max-width-container {
    max-width: 100%;
}
<<<<<<< HEAD

.none-list-style {
    list-style: none;
    padding: 0;
}
=======
>>>>>>> 3644dbd6faf37728c13969b4f1eaa2f1f75c5d40
