.main-layout {
    // display: grid;
    // grid-template-columns: 1fr;
    display: block;
    
    @media (min-width: 700px) {
        display: grid;
        grid-template-columns: 1fr 1400px 1fr;

        >* {
            grid-column: 2;
        }
    
        >*.full {
            grid-column: 1 / -1;
        }
    }
}