.main-layout {
    display: grid;
    // grid-template-columns: 250px 1fr 250px;
    grid-template-columns: 1fr 1400px 1fr;

    >* {
        grid-column: 2;
    }

    >*.full {
        grid-column: 1 / -1;
    }


    // LAYOUT BREAKPOINTS
    // $break-narrow: 710px;
    // $break-normal: 1200px;
    // $break-wide: 1500px;
}