@font-face {
    font-family: Macan-Light;
    src: url(../../fonts/Macan/macan-light.ttf);
}

@font-face {
    font-family: Macan-Regular;
    src: url(../../fonts/Macan/macan-regular.ttf);
}

@font-face {
    font-family: Macan-Semibold;
    src: url(../../fonts/Macan/macan-semibold.ttf);
}

@font-face {
    font-family: Macan-Bold;
    src: url(../../fonts/Macan/macan-bold.ttf);
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(../../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf);
}

@font-face {
    font-family: DomaineDispNar-Regular;
    src: url(../../fonts/DomaineDisplay/DomaineDispNar-RegularItalic.otf);
}

