@font-face {
    font-family: Macan-Regular;
    src: url(../../fonts/Macan/Macan-Regular.ttf);
}

@font-face {
    font-family: HelveticaNeue-Medium;
    src: url(../../fonts/HelveticaNeue/HelveticaNeue-Medium.ttf);
}

@font-face {
    font-family: DomaineDispNar-Regular;
    src: url(../../fonts/DomaineDisplay/DomaineDispNar-Regular.otf);
}

