// COLOR PALETTE
$clr0: #ffffff;
$clr1: #fafafa;
$clr2: #efeff0;
$clr3: #b5b6ba;
$clr4: #74767e;
$clr5: #62646a;
$clr6: #404145;
$clr7: #222325;
$clr8: #000000;
$clr9: #1dbf73;
$clr10: #19a463;
$clr11: #e4e5e7;
$clr12: #446ee7;
$clr13: #95979d;
$clr14: #ffb33e;
$clr15: rgba(0, 0, 0, .65);
$clr16: #f7f7f7;
$clr17: #dadbdd;
$clr18: #eee;
$clr19: #f74040;
$clr20: #c5c6c9;

// LAYOUT
$mainLayoutWide: 1400px;

// LAYOUT BREAKPOINTS
$break-narrow: 650px;
$break-normal: 1200px;
// $break-wide: 1920px;