/* Basics */
@import 'basics/layouts';
@import 'basics/base';
@import 'basics/helpers';

/* Setup */
@import 'setup/typography';
@import 'setup/variables';
@import 'setup/mixins';
// @import 'setup/functions';

/* Pages */
@import 'pages/gig-details';
@import 'pages/gig-edit';
@import 'pages/home-page';
@import 'pages/gig-payment';
@import 'pages/gig-index';
@import 'pages/user-profile';

/* Cmps */
@import 'cmps/app-header';
@import 'cmps/gig-list';
@import 'cmps/gig-preview';
@import 'cmps/user-msg';
@import 'cmps/home-hero';
@import 'cmps/app-header';
@import 'cmps/app-footer';
@import 'cmps/gig-filter';
@import 'cmps/details-sidebar';
@import 'cmps/category-nav-bar';
@import 'cmps/owner-rate';
@import 'cmps/owner-profile';
@import 'cmps/explore-filter';
@import 'cmps/switch-btn';
@import 'cmps/reviews';
@import 'cmps/loader';
@import 'cmps/login-signup';
@import 'cmps/popular-tag-search';
@import 'cmps/img-slider';
@import 'cmps/add-review';
@import 'cmps/filter-modal'; 
@import 'cmps/center-mode'; 
@import 'cmps/professional-slick'; 
@import 'cmps/dynamic-table'; 
@import 'cmps/mini-profile'; 
@import 'cmps/status-modal'; 
@import 'cmps/mobile-footer'; 
@import 'cmps/gigs'; 
@import 'cmps/dash-board'; 
